@import "header.css";

/* hero */
.wrapper-header__hero{
    height: 50vh;
}
.section-about{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-about h2{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 30px;
    
}