@import "header.css";
html {
    scroll-behavior: smooth;
}

/* /* body  */
.wrapper-main {
    padding-top: 25px;
    padding-bottom: 25px;
}
.wrapper-main__h2 {
    text-align: center;
    font-weight: 900;
    font-size: 45px;
}

/* / welcome section  */
.wrapper-main__welcome-block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 70px;
    /* / margin: 0 60%; !/ */
    margin: 50px 200px;
}

/* / Section location
=================== / */
.wrapper-location {
    background-color: #f7fdf7;
}
.wrapper-location__1 {
    justify-content: center;
    align-items: center;
}
.city {
    box-shadow: 1px 1px 1px #b4cfb0;
    margin: 1em;
    padding: 2.5em;
    border-radius: 15px;
    font-size: 22px;
    text-align: center;
    width: 18%;
    background-color: #fff;
}
.fa-solid {
    color: #f00;
}

/* / Section teams
================= / */
.wrapper-teamsbloc1 {
    align-items: center;
    margin: 50px 300px;
    gap: 20px 70px;
}
.wrapper-teamsbloc1-description h3 {
    font-size: 30px;
    padding-bottom: 20px;
}
.wrapper-teams img {
    height: 300px;
    width: 200px;
    border-radius: 30px;
    box-shadow: 2px 4px 4px rgb(136, 136, 136);
}

/* / Section products
================== / */
.wrapper-btn {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    width: 20%;
    margin: 60px auto;
}
* card */
.product-card {
    display: flex;
    box-shadow: 2px 2px 2px #ececec;
    background-color: #cecece;
    width: 50;
    height: 200px;
    max-height: 250px;
}
.product-card__image img {
    width: 300px;
    
}
.product-card__description {
    padding: 20px;
}
.product-card__description h3 {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}
.product-card__details {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cart {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.price{
    color: #ff0000;
    font-size: 1.2rem;
}
/* footer 
===========*/
footer {
    padding: 30px 0;
    color: #fff;
}

